<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Previsão do Tempo - São Paulo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>


    <header>
        <a href="index.html"><img src="/static/img/21077292_6406675.jpg" alt="" class="logo" /></a>
        <nav class="navbar">
            <a href="#home">Clima</a>
            <a href="#sobre">Tempo</a>
            
        </nav>
    </header>

    <section class="flex">


        <section class="section-pai">

            

            <div class="section-one">
                {% for item in previsoes %}
                <p>{{ item }}</p>
                {% endfor %}
            </div>
            

            <div class="section-descricoes">
                {% for item in descricoes %}
                <p>{{ item }}</p>
                {% endfor %}
            </div>
             <div class="img">
                  <img src="/static//img/variacoes-na-atmosfera.jpg" alt="">
            </div>

            <div class="section-detalhes">
                <ul>
                    {% for item in detalhes_dia %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>

           
          

        </section>

        <div class="section-outros">
            <ul>
                {% for item in detalhes_climas %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>

    </section>











    <footer>
        Desenvolvido por Roger Alves Lemos • Projeto de Web Scraping com Flask
    </footer>

</body>

</html>